<button class="ham">
  <!-- X and menu icon SVGs from material icons https://material.io/resources/icons/ -->
  <span class="menuIcon material-icons">
    menu
  </span>
  <span class="xIcon material-icons">
    close
  </span>
</button>
<ul class="menu">
  <li><a class="menuLink" href="/">Grimes Fashion</a></li>
  <li><a class="menuLink" href="/team">The Team</a></li>
  <li><a class="menuLink" href="/admin">Admin</a></li>
  <li><a class="menuLink" href="/subscribe">Subscribe</a></li>
</ul>