@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&display=swap");
/* PARTIALS */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HAMBURGER */
ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  margin: 0.5rem;
}

ul .grimes {
  -ms-grid-column-align: start;
      justify-self: start;
}

ul li {
  -ms-grid-column-align: end;
      justify-self: end;
}

ul li a {
  padding: 0.5rem;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #000;
}

ul li a:hover {
  background-color: #F29E28;
}

.nav-wrapper [type=checkbox] {
  /*removes checkbox*/
  display: none;
}

#hamburger {
  position: relative;
  z-index: -1;
}

label {
  display: none;
}

.hero {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  min-height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.hero h1 {
  margin: 0;
  padding: 0.5rem;
  font-family: "Oswald", sans-serif;
}

.hero h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-family: "Nunito", sans-serif;
  margin: 0;
}

footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 2px solid #000;
}

footer p {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

/* MEMBER PAGE */
.member {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(736px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(736px, 1fr));
}

.member-figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 420px 235.9px;
      grid-template-columns: 420px 235.9px;
  -ms-grid-rows: auto 3rem;
      grid-template-rows: auto 3rem;
      grid-template-areas: "image name" "image title" "image bio";
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
}

.member-figure h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
  font-family: "Oswald", sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
}

.member-figure h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  font-family: "Nunito", sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
}

.member-figure a {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  font-family: "Oswald", sans-serif;
}

.member-figure a:hover {
  color: #F29E28;
  opacity: 0.5;
}

.member-figure a img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  width: 55%;
  min-width: 365px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-top: 1rem;
}

.member-figure figcaption {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bio;
  font-family: "Nunito", sans-serif;
  -ms-grid-column-align: center;
      justify-self: center;
}

/* SUBSCRIBE PAGE */
#Logo {
  display: -ms-grid;
  display: grid;
}

#Logo #sub {
  -ms-grid-column-align: end;
      justify-self: end;
  padding-right: 1rem;
  margin: 0;
  -ms-grid-column-align: center;
      justify-self: center;
}

.subbing {
  display: -ms-grid;
  display: grid;
}

.subbing .form {
  max-width: 700px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.subbing .form form {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.subbing .form form fieldset {
  display: -ms-grid;
  display: grid;
}

.subbing .form form fieldset legend {
  font-family: "Nunito", sans-serif;
}

.subbing .form form fieldset input {
  display: block;
  max-width: 600px;
  -ms-grid-column-align: center;
      justify-self: center;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* GALLERY */
#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

#gallery .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 513.6px;
  height: auto;
  border: 2px solid #000;
  margin: 0.5rem;
}

#gallery .card .card-img {
  width: 80%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.5rem;
}

#gallery .card .card-img:hover {
  cursor: pointer;
  opacity: 0.5;
}

#gallery .card figcaption {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/* SINGLE IMAGE */
.main {
  display: -ms-grid;
  display: grid;
}

.main .single-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 513.6px;
  height: auto;
  border: 2px solid #000;
  margin: 0.5rem;
}

.main .single-card .single-img {
  width: 80%;
  height: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0.5rem;
}

.main .single-card figcaption {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

/* ADMIN */
.subscribers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.subscribers .admin {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  border: 2px solid #000;
  width: 15rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.subscribers .admin .sub-name {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Oswald", sans-serif;
}

.subscribers .admin .sub-email {
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "Nunito", sans-serif;
}

/* ERROR */
.wrapper {
  display: -ms-grid;
  display: grid;
}

.wrapper h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.wrapper h2 {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.wrapper img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.wrapper p {
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-size: 28px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 42.7rem) {
  /* HAMBURGER MENU */
  ul {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  ul li {
    padding: 0.5rem;
  }
  .nav-wrapper [type=checkbox] {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  #toggle:checked ~ * ~ .nav-menu {
    display: block;
  }
  #hamburger {
    z-index: 1;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }
  label {
    position: absolute;
    display: inline-block;
    right: 0;
  }
  /* SUBSCRIBE */
  form {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
  }
  form label {
    display: none;
  }
  #sub {
    min-width: 134.2px;
  }
  /* TEAM/MEMBER */
  .member {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .member .member-figure {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "image" "name" "title" "bio";
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .member .member-figure h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: name;
    text-align: center;
  }
  .member .member-figure h3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: title;
    text-align: center;
  }
  .member .member-figure a {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
  .member .member-figure a:hover {
    opacity: 0.5;
  }
  .member .member-figure a img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    min-width: 200px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .member .member-figure figcaption {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: bio;
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */