@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald&display=swap');

$bold-font: 'Oswald',
sans-serif;
$normal-font: 'Nunito',
sans-serif;
$light-colour: #FFF;
$dark-colour: #000;
$accent-colour: #F29E28;
$rem : 0.5rem;

/* PARTIALS */

* {
  margin: 0;
  box-sizing: border-box;
}

/* HAMBURGER */

ul {
  display: grid;
  grid-template-columns: repeat(5, auto);

  padding: $rem;

  border-bottom: 2px solid $dark-colour;

  margin: $rem;

  .grimes {
    justify-self: start;
  }

  li {
    justify-self: end;

    a {
      padding: $rem;

      font-family: $bold-font;
      font-size: 20px;

      text-decoration: none;

      color: $dark-colour;

      &:hover {
        background-color: $accent-colour;
      }
    }
  }
}

.nav-wrapper [type=checkbox] {
  /*removes checkbox*/
  display: none;
}

#hamburger {
  position: relative;

  z-index: -1;
}

label {
  display: none;
}

.hero {
  display: grid;

  text-align: center;

  margin: $rem;

  padding: $rem;

  min-height: 30vh;

  align-items: center;

  border-bottom: 2px solid $dark-colour;

  h1 {
    margin: 0;

    padding: $rem;

    font-family: $bold-font;
  }

  h2 {
    align-self: start;

    font-family: $normal-font;

    margin: 0;
  }
}

footer {
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  border-top: 2px solid $dark-colour;

  p {
    margin: 0;

    font-family: $normal-font;
  }
}

/* MEMBER PAGE */

.member {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(736px, 1fr));
}

.member-figure {
  display: grid;
  grid-template-columns: 500px 235.9px;
  grid-template-rows: auto;
  grid-template-areas:
    "image name"
    "image title"
    "image bio";

  border-bottom: 2px solid $dark-colour;
  padding-bottom: 1rem;

  justify-self: center;

  h2 {
    align-self: center;

    grid-area: name;

    font-family: $bold-font;
  }

  h3 {
    grid-area: title;

    font-family: $normal-font;
  }

  a {
    display: grid;
    grid-area: image;

    font-family: $bold-font;

    &:hover {
      color: $accent-colour;
      opacity: 0.5;
    }

    img {
      grid-area: image;

      width: 55%;
      min-width: 365px;

      justify-self: center;

      padding-top: 1rem;
    }
  }

  figcaption {
    grid-area: bio;

    font-family: $normal-font;
  }

}


/* SUBSCRIBE PAGE */

#Logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  #sub {
    justify-self: end;

    padding-right: 1rem;

    margin: 0;

    width: 55%;
  }

  h2 {
    justify-self: start;
    align-self: center;

    padding-left: 1rem;

    font-family: $bold-font;
  }
}

.subbing {
  display: grid;

  .form {
    max-width: 700px;
    justify-self: center;

    form {
      padding-top: 1.5rem;
      padding-bottom: 1rem;

      fieldset {
        display: grid;

        legend {
          font-family: $normal-font;
        }

        input {
          display: block;

          max-width: 600px;

          justify-self: center;

          padding-bottom: $rem;

          margin-bottom: $rem;
        }
      }
    }
  }

}




/* GALLERY */

#gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  .card {
    display: grid;
    justify-self: center;

    max-width: 513.6px;
    height: auto;

    border: 2px solid $dark-colour;

    margin: $rem;


    .card-img {
      width: 80%;
      height: auto;

      justify-self: center;
      align-self: center;

      margin: $rem;

      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }

    figcaption {
      text-align: center;

      font-family: $normal-font;
    }
  }
}

/* SINGLE IMAGE */

.main {
  display: grid;

  .single-card {
    display: grid;
    justify-self: center;

    max-width: 513.6px;
    height: auto;

    border: 2px solid $dark-colour;

    margin: $rem;


    .single-img {
      width: 80%;
      height: auto;

      justify-self: center;
      align-self: center;

      margin: $rem;
    }

    figcaption {
      text-align: center;

      font-family: $normal-font;
    }
  }
}

/* ADMIN */

.subscribers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  .admin {
    display: grid;
    justify-self: center;

    border: 2px solid $dark-colour;

    width: 15rem;

    margin: $rem;
    padding: $rem;

    .sub-name {
      justify-self: center;

      font-family: $bold-font;
    }

    .sub-email {
      justify-self: center;

      font-family: $normal-font;
    }
  }
}

/* ERROR */

.wrapper {
  display: grid;

  h1 {
    text-align: center;
    font-family: $bold-font;
  }

  h2 {
    text-align: center;
    font-family: $normal-font;
  }

  img {
    justify-self: center;
  }

  p {
    text-align: center;
    font-family: $normal-font;
    font-size: 28px;
  }
}

/* MEDIA QUERIES */

@media screen and (max-width: 42.7rem) {

  /* HAMBURGER MENU */
  ul {
    display: block;

    text-align: center;

    padding: 1rem;

    li {

      padding: $rem;
    }
  }

  .nav-wrapper [type=checkbox] {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  #toggle:checked~*~.nav-menu {
    display: block;
  }

  #hamburger {
    z-index: 1;

    padding-right: 0.7rem;
    padding-top: $rem;

    cursor: pointer;
  }

  label {
    position: absolute;

    display: inline-block;

    right: 0;
  }

  /* SUBSCRIBE */

  form {
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    label {
      display: none;
    }
  }

  #sub {
    min-width: 134.2px;
  }

  /* TEAM/MEMBER */
  .member {
    grid-template-columns: auto;

    .member-figure {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
        "image"
        "name"
        "title"
        "bio";
      justify-self: center;

      h2 {
        grid-area: name;
        text-align: center;
      }

      h3 {
        grid-area: title;
        text-align: center;
      }

      a {
        display: grid;
        grid-area: image;

        &:hover {
          opacity: 0.5;
        }

        img {
          grid-area: image;

          min-width: 200px;

          justify-self: center;
        }
      }

      figcaption {
        grid-area: bio;
        text-align: center;
      }
    }
  }
}