@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

$bold-font: 'Roboto Condensed',
sans-serif;
$normal-font: 'Cabin',
sans-serif;
$light-colour: #FFF;
$dark-colour: #000;
$accent-colour: #F29E28;

/* PARTIALS */

* {
  font-family: $normal-font;
  margin: 0;
  box-sizing: border-box;
}


.hero {
  display: grid;

  text-align: center;

  margin: 0.5rem;

  padding: 0.5rem;

  min-height: 50vh;

  align-items: center;

  border-bottom: 2px solid $dark-colour;

  h1 {
    margin: 0;

    padding: 0.5rem;
  }

  h2 {
    align-self: start;

    margin: 0;
  }
}

footer {
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  border-top: 2px solid $dark-colour;

  p {
    margin: 0;
  }
}

/* MEMBER PAGE */

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(736px, 1fr));
}

figure {
  display: grid;
  grid-template-columns: 500px 235.9px;
  grid-template-rows: auto;
  grid-template-areas:
    "image name"
    "image title"
    "image bio";

  border-bottom: 2px solid $dark-colour;
  padding-bottom: 1rem;

  h2 {
    align-self: center;

    grid-area: name;
  }

  h3 {
    grid-area: title;
  }

  a {
    display: grid;
    grid-area: image;

    min-width: 40rem;

    &:hover {
      color: $accent-colour;
      opacity: 0.5;
    }

    img {
      grid-area: image;

      max-width: 50%;

      justify-self: center;
    }
  }

  figcaption {
    grid-area: bio;
  }

}

// @media screen and (max-width: 42.7rem) {

// }

@media screen and (max-width: 736px) {
  figure {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "name"
      "title"
      "bio";

    h2 {
      grid-area: name;
    }

    h3 {
      grid-area: title;
    }

    a {
      display: grid;
      grid-area: image;

      &:hover {
        color: $accent-colour;
        opacity: 0.5;
      }

      img {
        grid-area: image;

        max-width: 50%;

        justify-self: center;
      }
    }

    figcaption {
      grid-area: bio;
    }
  }
}

/* SUBSCRIBE PAGE */

#Logo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  #sub {
    justify-self: end;
  }

  h2 {
    justify-self: start;
    align-self: center;
  }
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "label button"
    "input button";

  .label {
    grid-area: label;
  }

  input {
    grid-area: input;
  }

  button {
    grid-area: button;
  }
}

/* HAMBURGER */

.ham {
  position: fixed;

  z-index: 100;

  top: 1rem;
  right: 1rem;

  width: 3rem;
  height: 3rem;

  border: 1px solid $dark-colour;
  background: $light-colour;

  cursor: pointer;
}

.xIcon {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  transform: translateY(-100%);
  transition: transform 0.2s;
  list-style: none;
  padding-top: 4rem;

  li {
    padding: 1rem 0;
  }

  .menuLink {
    display: inline;
    font-size: 2rem;
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.showMenu {
  transform: translateY(0);
}