@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap');

$bold-font: 'Roboto Condensed',
sans-serif;
$normal-font: 'Cabin',
sans-serif;
$light-colour: #FFF;
$dark-colour: #000;
$accent-colour: #F29E28;

/* PARTIALS */

* {
  font-family: $normal-font;
}

.night-mode * {
  background-color: $dark-colour;
  color: $light-colour;
}

.nav-wrapper [type=checkbox] {
  display: none;
}

#hamburger {
  position: relative;

  z-index: -1;
}

label {
  display: none;
}

nav {
  ul {
    display: grid;

    grid-template-columns: repeat(5, auto);

    padding: 0.5rem;

    margin-left: 1rem;
    margin-right: 1rem;

    border-bottom: 2px solid $dark-colour;
  }

  .grimes {
    justify-self: start;
  }

  li {
    justify-self: end;
  }

  a {
    padding: 0.5rem;

    text-decoration: none;

    color: $dark-colour;

    &:hover {
      background-color: $accent-colour;
    }
  }
}

.hero {
  display: grid;

  text-align: center;

  margin: 0.5rem;

  padding: 0.5rem;

  min-height: 50vh;

  align-items: center;

  border-bottom: 2px solid $dark-colour;

  h1 {
    margin: 0;

    padding: 0.5rem;
  }

  h2 {
    align-self: start;

    margin: 0;
  }
}

footer {
  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-left: 1rem;
  margin-right: 1rem;

  border-top: 2px solid $dark-colour;

  p {
    margin: 0;
  }
}

/* MEMBER PAGE */

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(736px, 1fr));
}

figure {
  display: grid;
  grid-template-columns: 500px 235.9px;
  grid-template-rows: auto;
  grid-template-areas:
    "image name"
    "image title"
    "image bio";

  border-bottom: 2px solid $dark-colour;
  padding-bottom: 1rem;

  h2 {
    align-self: center;

    grid-area: name;
  }

  h3 {
    grid-area: title;
  }

  a {
    display: grid;
    grid-area: image;

    min-width: 40rem;

    &:hover {
      color: $accent-colour;
      opacity: 0.5;
    }

    img {
      grid-area: image;

      max-width: 50%;

      justify-self: center;
    }
  }

  figcaption {
    grid-area: bio;
  }

}

@media screen and (max-width: 42.7rem) {

  .nav-wrapper [type=checkbox] {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  #toggle:checked~*~.nav-menu {
    display: block;
  }

  #hamburger {
    z-index: 1;

    padding-right: 0.7rem;
    padding-top: 0.5rem;

    cursor: pointer;
  }

  label {
    position: absolute;

    display: inline-block;

    right: 0;
  }

  nav {
    ul {
      display: block;

      text-align: center;

      padding: 1rem;
    }

    li {
      padding: 0.5rem;
    }
  }
}

@media screen and (max-width: 736px) {
  figure {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "name"
      "title"
      "bio";

    h2 {
      grid-area: name;
    }

    h3 {
      grid-area: title;
    }

    a {
      display: grid;
      grid-area: image;

      &:hover {
        color: $accent-colour;
        opacity: 0.5;
      }

      img {
        grid-area: image;

        max-width: 50%;

        justify-self: center;
      }
    }

    figcaption {
      grid-area: bio;
    }
  }
}