@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Roboto+Condensed:wght@700&display=swap");
/* PARTIALS */
* {
  font-family: "Cabin", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.ham {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  background: #FFF;
  cursor: pointer;
}

.xIcon {
  display: none;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: black;
  color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  list-style: none;
  padding-top: 4rem;
}

.menu li {
  padding: 1rem 0;
}

.menu .menuLink {
  display: inline;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.menu .menuLink:hover {
  text-decoration: underline;
}

.showMenu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.hero {
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  min-height: 50vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #000;
}

.hero h1 {
  margin: 0;
  padding: 0.5rem;
}

.hero h2 {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  margin: 0;
}

footer {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 2px solid #000;
}

footer p {
  margin: 0;
}

/* MEMBER PAGE */
section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(736px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(736px, 1fr));
}

figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 235.9px;
      grid-template-columns: 500px 235.9px;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "image name" "image title" "image bio";
  border-bottom: 2px solid #000;
  padding-bottom: 1rem;
}

figure h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: name;
}

figure h3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
}

figure a {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  min-width: 40rem;
}

figure a:hover {
  color: #F29E28;
  opacity: 0.5;
}

figure a img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: image;
  max-width: 50%;
  -ms-grid-column-align: center;
      justify-self: center;
}

figure figcaption {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: bio;
}

@media screen and (max-width: 42.7rem) {
  .nav-wrapper [type=checkbox] {
    display: none;
  }
  .nav-menu {
    display: none;
  }
  #toggle:checked ~ * ~ .nav-menu {
    display: block;
  }
  #hamburger {
    z-index: 1;
    padding-right: 0.7rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }
  label {
    position: absolute;
    display: inline-block;
    right: 0;
  }
  nav ul {
    display: block;
    text-align: center;
    padding: 1rem;
  }
  nav li {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 736px) {
  figure {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "image" "name" "title" "bio";
  }
  figure h2 {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: name;
  }
  figure h3 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: title;
  }
  figure a {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
  }
  figure a:hover {
    color: #F29E28;
    opacity: 0.5;
  }
  figure a img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: image;
    max-width: 50%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  figure figcaption {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: bio;
  }
}

/* SUBSCRIBE PAGE */
#Logo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

#Logo #sub {
  -ms-grid-column-align: end;
      justify-self: end;
}

#Logo h2 {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas: "label button" "input button";
}

form .label {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label;
}

form input {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: input;
}

form button {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: button;
}
/*# sourceMappingURL=main.css.map */