<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  <%-include ('../partials/hero')%>
  <!-- talk to aidan about how this works (section below will hold the list of subscribers) -->
  <section class="subscribers"></section>
  <%- include ('../partials/footer')%>
  <script src="js/admin.js" defer></script>
</body>
</html>