!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  <main>
    <div class="wrapper">
      <h1><%= errCode %> error!</h1>
      <h2>That's soooo not Gucci...</h2>
      <img src="../../public/images/Judgy.jpeg" alt="person being judgey">
      <p>Don't worry bae we got you</p>
      <a href="/"><button>Take me back!</button></a>
    </div>
  </main>
  <%- include ('../partials/footer')%>
</body>