<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  <%-include ('../partials/hero')%>
  <div id="gallery" class="container"></div>
  <%- include ('../partials/footer')%>
</body>
</html>
