<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  

  <header class="pageheader">
    <img class= "logo" src="images/TonyGrimes.svg" alt="company logo"> 
    <img class= "logotext" src="images/TonyGrimesText-01.svg" alt="company text"> 
    <p class= "tagline">If it ain't Grimes, then it ain't fashion</p>
    <button onclick="window.location='/gallery'">See our work!</button>
  </header>



  <div id="gallery"></div>
  
  <%- include ('../partials/footer')%>
</body>
</html>