<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head')%>
</head>
<body>
  <%- include ('../partials/nav')%>
  <%-include ('../partials/hero')%>
  <section class="member"></section>
  <%- include ('../partials/footer')%>
  <script src="js/member.js" defer></script>
</body>
</html>